@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --first-color: #3157DE;
    --input-color: #80868b;
    --border-color: #dadce0;
    --body-font: 'Inter', sans-serif;
    --normal-font-size: 1rem;
    --medium-font-size: 0.875rem;
    --small-font-size: 0.75rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--body-font);
    background: var(--first-color);
}

.main__container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    width: 30rem;
    padding: 4rem 2rem;
    border-radius: 1rem;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.468);
}